<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Account Recovery</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <p>We received a request to reset your password.</p>
    <p>Please click the following link to reset your password:</p>
    <p>
      <a href="{{host}}api/users/reset_password/{{token}}"> Reset Password:</a>
      <p>Your reset token: {{token}}</p>
    </p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
